<!DOCTYPE html>
<html>
  <head>
    <title>Instagram2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
  <footer>
     <div class="col-md-12">
           <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="#">ABOUT US</a></li>
            <li role="presentation"><a href="#">SUPPORT</a></li>
            <li role="presentation"><a href="#">BLOG</a></li>
            <li role="presentation" ><a href="#">PRESS</a></li>
            <li role="presentation"><a href="#">API</a></li>
            <li role="presentation"><a href="#">JOBS</a></li>
            <li role="presentation" ><a href="#">PRIVACY</a></li>
            <li role="presentation"><a href="#">TERMS</a></li>
            <li role="presentation"><a href="#">DIRECTORY</a></li>
            <li role="presentation"><a href="#">LANGUAGE</a></li>
            <p>&copy; 2017 INSTAGRAM </p>
          </ul>

      </div>                         
  </footer>
</html>
